/*
    Styles for the Portfolio Site
    Selepe Sello - TebogoYungMercykay
*/

.contact {
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    align-items: center;
    justify-content: center;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 1;
    border-radius: 12px;
    background: var(--projects-grey-color);
}

.contact::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-size: cover;
    z-index: 1;
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 60px;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.7rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--contact-input-hover);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.contact .info {
    width: 30%;
    margin-bottom: 30px;
}

.contact .info i {
    font-size: 20px;
    color: var(--main-color);
    float: left;
    width: 44px;
    height: 44px;
    background: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--main-color);
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--main-color);
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: var(--bg-color);
    color: var(--text-color);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1300px) {
    .outer-container {
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .contact .info {
        padding: 20px;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .contact .info i {
        font-size: 16px;
    }

    .contact .info h4 {
        font-size: 16px;
    }

    .contact .info p {
        font-size: 11px;
    }
}

@media screen and (max-width: 848px) {
    .outer-container {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
        margin: 0;
    }

    .contact .info {
        width: 100%;
        padding: 10%;
        margin: 0;
        display: inline-block;
    }

    .contact .info h4, .contact .info p {
        min-width: 100%;
        margin: 0;
    }

    .contact .info i {
        font-size: 16px;
    }

    .contact .info h4 {
        font-size: 20px;
    }

    .contact .info p {
        font-size: 14px;
    }

    #contact-form {
        width: 80%;
        margin: 0;
    }
}
