@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display-swap');

/*###########################################################################################*/
/*########                            SETUP SECTION                                 #########*/
/*###########################################################################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #787e7c;
    --second-bg-color: #75a2af;
    --transparent-bg-color: #787e7c1e;
    --transparent-second-bg-color: #75a2af20;
    --text-color: #e8e8e8fc;
    --main-color: #72f0db;
    --transparent-main-color: #72f0db47;
    --lang-color: #6610a8af;
    --lang-color-yel: #978e0a9e;
    --darker-color: #0000009b;
    --grey-color: #bbbbbbe4;
    --black-color: rgba(0, 0, 0, 0.908);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: var(--bg-color);
    opacity: 0.96;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*###########################################################################################*/
/*########                             HOME SECTION                                 #########*/
/*###########################################################################################*/

.home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 0 9%;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./Images/Edited_Using_FotorEditor.jpg') center no-repeat;
    opacity: 0.7;
    background-size: cover;
    z-index: -1;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 2.17rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

/* KeyFrames Animations */
@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

.home-content p {
    font-family: "Montserrat", sans-serif;    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci, #contact .home-sci {
    position: absolute;
    bottom: 4rem;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.home-sci a, #contact .home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 40%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover,  #contact .home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before,  #contact .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before,  #contact .home-sci a:hover::before  {
    width: 100%;
}

/*###########################################################################################*/
/*########                            ABOUT SECTION                                 #########*/
/*###########################################################################################*/

.about {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-top: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

/* KeyFrames Animations */
@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before  {
    color: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    position: relative;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    background: url("./Images/AI_SVG.png") center no-repeat, var(--main-color);
    background-size: 40px, cover;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 1;
    transition: 0.5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content content .year {
    font-size: 1.8rem !important;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.education-content .content .year i {
    padding-right: 0.5rem;
}

.education-content content h3 {
    font-size: 2rem;
}

.education-content content p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

/*###########################################################################################*/
/*########                         PORTFOLIO SECTION                                #########*/
/*###########################################################################################*/

.Portfolio {
    min-height: 100vh;
    padding-bottom: 3rem;
    position: relative;
}

.Portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./Images/Chess_Backround.jpg') center no-repeat;
    opacity: 0.3;
    background-size: cover;
    z-index: -1;
}


.Portfolio h2 {
    display: inline-block;
    left: 50% ;
    transform: translateX(-50%);
}

.Portfolio .Portfolio-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.Portfolio-row .Portfolio-column {
    flex: 1 1 40rem;
}

.Portfolio-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.Portfolio-column .Portfolio-box {
    position: relative;
}

.Portfolio-box .Portfolio-content {
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.Portfolio-box .Portfolio-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--grey-color);
    z-index: -1;
    transition: .5s;
}

.Portfolio-box .Portfolio-content:hover::before {
    width: 100%;
}

.Portfolio-content .progress {
    padding: 1rem 0;
}

.Portfolio-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.Portfolio-content .progress h3 span {
    color: var(--text-color);
}

.Portfolio-content progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
}

#projects {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    margin-top: 10rem;
    color: var(--main-color);
}

/*###########################################################################################*/
/*########                          CONTACT SECTION                                 #########*/
/*###########################################################################################*/

.contact {
    min-height: 100vh;
    padding-bottom: 7rem;
    position: relative;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./Images/B_and_W_Backround_Server_Edit.jpg') center no-repeat;
    opacity: 0.3;
    background-size: cover;
    z-index: -1;
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/*###########################################################################################*/
/*########                           FOOTER SECTION                                 #########*/
/*###########################################################################################*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center !important;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text, .footer-iconTop {
    position: relative;
}

.footer-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

#mailto {
    color: var(--main-color);
}

/*###########################################################################################*/
/*########                       ANIMATIONS SECTION                                 #########*/
/*###########################################################################################*/

/* Reload and Scroll Animation */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 98;
}

.logo .animate ,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
    /* -webkit-animation: showRight 1s ease forwards; */
}

.animate.scroll {
    transition: 1s ease ;
    transition-delay: calc(0.3s / var(--i));
    animation: none;
}

section:nth-child(even) .animate.scroll,
.footer .animate.scroll {
    background: var(--transparent-second-bg-color);
}

.education .education-box .animate.scroll {
    width: 105% ;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll,
.Portfolio.show-animate .animate.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
}

/* KeyFrames Animations */
@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Breakpoints */
@media (max-width: 1200px) {
    html {
       font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.25s ease;
        transition-delay: 0.25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25 ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition: 0.25s ease;
        transition-delay: 0s;
    }
}

@media (max-width: 520px){
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci,  #contact .home-sci {
        width: 160px;
    }

    .home-sci a,  #contact .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/**** The Languages Animation CSS ****/

.languages_section
{
    margin: 50px;
    margin-bottom: 80px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_container
{
    position: relative;
    width: 600px;
    height: 600px;
    border: 4px solid var(--grey-color);
    border-radius: 50%;
}

.languages_container .languages_icon
{
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.languages_container .languages_icon .imgBx
{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 0 4px var(--darker-color) ,0 0 0 6px var(--text-color);
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 340px;
    z-index: 1;
    overflow: hidden;
}

.languages_container .languages_icon .imgBx.active
{
    box-shadow: 0 0 0 6px var(--darker-color), 0 0 0 12px var(--main-color);
}

.languages_container .languages_icon .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(0.9);
}

.languages_container .languages_icon .imgBx.active img
{
    filter: grayscale(0);
}

.languages_content
{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_content::before
{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 5px solid var(--main-color);
    border-right: 5px solid var(--text-color);
    border-radius: 50%;
    animation: animte_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_01
{
    0%
    {
        rotate: 0deg;
    }
    100%
    {
        rotate: 360deg;
    }
}

.languages_content::after
{
    content: '';
    position: absolute;
    inset: 93px;
    border: 4px solid transparent;
    border-left: 5px solid var(--lang-color);
    border-right: 5px solid var(--lang-color-yel);
    border-radius: 50%;
    animation: animte_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_02
{
    0%
    {
        rotate: 360deg;
    }
    100%
    {
        rotate: 0deg;
    }
}

.languages_contentBx
{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_contentBx.active
{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.languages_contentBx .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.languages_contentBx .card .imgBx
{
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
}

.languages_contentBx .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.languages_contentBx .card .textBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languages_contentBx .card .textBx h2
{
    position: relative;
    font-size: 3em;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.languages_contentBx .card .textBx h2 span
{
    font-size: 0.65em;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.1em;
}

.languages_contentBx .card .textBx .H_n_C span
{
    font-size: 0.31em;
}

.languages_contentBx .card .textBx .Type_C span
{
    font-size: 0.39em;
}

.languages_contentBx .card .textBx .sci
{
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
    font-size: 1.5em;
    /* background-color: var(--text-color); */
    color: var(--text-color);
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
    font-weight: 600;
    border-radius: 3px;
    align-items: center;
    /* border: 2px solid var(--grey-color); */
}

.languages_contentBx .card .textBx .sci li i
{
    font-size: 15px;
    bottom: 0;
}

.languages_contentBx .card .textBx .sci li
{
    list-style: none;
}

.languages_contentBx .card .textBx .sci li a
{
    position: relative;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.languages_content, .languages_contentBx {
    pointer-events: none;
}
