.about {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-top: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    color: var(--second-bg-color);
}

.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    position: relative;
}

.journey .journey-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.journey-row .journey-column {
    flex: 1 1 40rem;
}

.journey-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.journey-column .journey-box {
    position: relative;
    border-left: 0.2rem solid var(--main-color);
}

.journey-box .journey-content {
    position: relative;
    padding-left: 2rem;
    padding-right: 3px;
}

.journey-box .journey-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    background: url("../Images/AI_SVG.png") center no-repeat, var(--main-box-color);
    background-size: 40px, cover;
    border-radius: 50%;
}

.journey-content .content {
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.journey-content .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 1;
    transition: 0.5s;
}

.journey-content .content:hover::before {
    width: 100%;
}

.journey-content content .year {
    font-size: 1.8rem !important;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.journey-content .content .year i {
    padding-right: 0.5rem;
}

.journey-content content h3 {
    font-size: 2rem;
}

.journey-content content p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

#btn-readless {
    border: 0.3rem solid var(--bg-color);
    font-size: 2.3rem;
}

#btn-readless:hover {
    border: 0.3rem solid var(--grey-color);
}
