/***************** KeyFrames Animations ******************/

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }
    75%,
    81% {
        opacity: 0;
    }
}

/***************** KeyFrames Animations *****************/

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Reload and Scroll Shadow Animation */
/* .animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 98;
}

.logo .animate , .navbar .animate, #menu-icon .animate, .home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease ;
    transition-delay: calc(0.3s / var(--i));
    animation: none;
}

section:nth-child(even) .animate.scroll, .footer .animate.scroll { background: var(--transparent-second-bg-color); }

.journey .journey-box .animate.scroll { width: 105% ; }

.about.show-animate .animate.scroll, .journey.show-animate .animate.scroll, .contact.show-animate .animate.scroll, .footer.show-animate .animate.scroll, .Portfolio.show-animate .animate.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
} */

/***************** KeyFrames Animations *****************/

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes animte_01 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes animte_02 {
    0% {
        rotate: 360deg;
    }
    100% {
        rotate: 0deg;
    }
}