/* Background Animation Cascading */

.backgroundAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    overflow: hidden;
}

.colorBoxEffect {
    transition: 2s ease;
    margin: 2px;
}

.colorBoxEffect:hover {
    background: var(--color-box-effect);
    transition-duration: 0s;
}

.divBackgroundAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom,
                                    var(--grad1-animation-color) 0%,
                                    var(--grad-animation-color) 35%,
                                    var(--animation-color) 50%,
                                    var(--grad-animation-color) 60%,
                                    var(--grad1-animation-color) 100%
                                );
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0% {
        top: -300px;
    }
    100% {
        top: 120%;
    }
}
