.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem 9%;
    background: var(--transparent-bg-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

#mailto {
    color: var(--main-color);
}
