/*
    Styles for the Portfolio Site
    Selepe Sello - TebogoYungMercykay
*/

.Portfolio {
    min-height: 100%;
    padding-bottom: 3rem;
    /* position: relative; */
}

.Portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.26;
    background-size: cover;
    z-index: -1;
}

.Portfolio h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.Portfolio .Portfolio-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.Portfolio-row .Portfolio-column {
    flex: 1 1 40rem;
}

.Portfolio-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.Portfolio-column .Portfolio-box {
    position: relative;
}

.Portfolio-box .Portfolio-content {
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.Portfolio-box .Portfolio-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.Portfolio-box .Portfolio-content:hover::before {
    width: 100%;
}

.Portfolio-content .progress {
    padding: 1rem 0;
}

.Portfolio-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.Portfolio-content .progress h3 span {
    color: var(--text-color);
}

.Portfolio-content progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
}

#portfolio_heading {
    padding-bottom: 50px;
}

#projects {
    position: relative;
    display: inline-block;
    font-size: 4.7rem;
    margin-top: 10rem;
    color: var(--text-color);
}

.Portfolio-column {
    text-align: center;
}

#projects span {
    color: var(--main-color);
}

/* Listing Projects! */

.section_projects {
    color: var(--text-color);
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 50px;
    margin: 90px auto;
    margin-bottom: 10px;
    max-width: 1240px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--projects-grey-color);
    transition: box-shadow 0.7s linear;
}

.section_projects:hover {
    box-shadow: 0 0 16px var(--main-color);
}

.section_project {
    padding: 20px;
    border-radius: 9px;
    border: 2px solid var(--grey-color);
    background-color: var(--second-bg-color);
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    transition: box-shadow 0.7s linear;
}

.section_project:hover {
    box-shadow: 0 0 15px var(--main-color);
    border: 2px solid var(--main-color);
}

.section_project2 {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 60px;
}

.section_project img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 3px;
}

.section_project .project_tittle {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
    font-family: "Open+Sans" + bold;
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 1.6em;
    height: 6em;
    overflow: hidden;
    justify-content: center;
    top: 0;
    width: 100%;
}

.section_project p {
    font-family: "Montserrat", sans-serif;
    padding: 6px;
    line-height: 22px;
    text-align: center;
    font-size: medium;
}

.section_project .view_project_on_github {
    margin-top: 10px;
    font-size: 1.5em;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 9px 10px;
    height: 40px;
    min-width: 200px;
    font-weight: 600;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--grey-color);
    transition: background-color 0.9s linear, color 0.9s linear,
        border 0.9s linear;
}

.section_project .view_project_on_github:hover {
    background-color: var(--grey-color);
    color: var(--bg-color);
    border: 2px solid var(--transparent-bg-color);
}

.view_project_on_github {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.liveview_link {
    margin-bottom: 60px;
}

.div-project-details {
    margin-bottom: 90px;
}

#Custom_Button_0 {
    font-size: 1.73rem;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid var(--animation-color);
}

#Custom_Button,
#Custom_Button_2 {
    /* justify-content: ; */
    font-size: 2.4rem;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid var(--animation-color);
}

.profile-github {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

strong {
    font-weight: 600;
}

/**** The Languages Animation CSS ****/

.languages_section {
    margin: calc(5 * var(--ratio-px-manipulation));
    margin-bottom: calc(8 * var(--ratio-px-manipulation));
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_section::before {
    content: "";
    position: absolute;
}

.languages_container {
    position: relative;
    width: calc(60 * var(--ratio-px-manipulation));
    height: calc(60 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid var(--grey-color);
    border-radius: 50%;
}

.languages_container .languages_icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.languages_container .languages_icon .imgBx {
    position: absolute;
    width: calc(8 * var(--ratio-px-manipulation));
    height: calc(8 * var(--ratio-px-manipulation));
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 0 calc(0.4 * var(--ratio-px-manipulation)) var(--bg-color),
        0 0 0 calc(0.6 * var(--ratio-px-manipulation)) var(--text-color);
    transform: rotate(calc(360deg / 8 * var(--i)));
    transform-origin: calc(34 * var(--ratio-px-manipulation));
    z-index: 1;
    overflow: hidden;
}

.languages_container .languages_icon .imgBx.active {
    box-shadow: 0 0 0 calc(0.6 * var(--ratio-px-manipulation)) var(--bg-color),
        0 0 0 calc(1.2 * var(--ratio-px-manipulation)) var(--main-color);
}

.languages_container .languages_icon .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg / 8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(0.9);
}

.languages_container .languages_icon .imgBx.active img {
    filter: grayscale(0);
}

.languages_content {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_content::before {
    content: "";
    position: absolute;
    inset: calc(6 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid transparent;
    border-left: calc(0.5 * var(--ratio-px-manipulation)) solid
        var(--main-color);
    border-right: calc(0.5 * var(--ratio-px-manipulation)) solid
        var(--text-color);
    border-radius: 50%;
    animation: animte_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

.languages_content::after {
    content: "";
    position: absolute;
    inset: calc(8.3 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid transparent;
    border-left: calc(0.5 * var(--ratio-px-manipulation)) solid
        var(--lang-color);
    border-right: calc(0.5 * var(--ratio-px-manipulation)) solid
        var(--lang-color-yel);
    border-radius: 50%;
    animation: animte_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

.languages_contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.languages_contentBx .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(1.5 * var(--ratio-px-manipulation));
}

.languages_contentBx .card .imgBx {
    position: relative;
    width: calc(21 * var(--ratio-px-manipulation));
    height: calc(21 * var(--ratio-px-manipulation));
    border-radius: var(--ratio-px-manipulation);
    overflow: hidden;
}

.languages_contentBx .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.languages_contentBx .card .textBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languages_contentBx .card .textBx h2 {
    position: relative;
    font-size: calc(0.3 * var(--ratio-em-manipulation));
    font-weight: 600;
    color: var(--text-color);
    line-height: calc(0.1 * var(--ratio-em-manipulation));
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}

.languages_contentBx .card .textBx h2 span {
    font-size: calc(0.065 * var(--ratio-em-manipulation));
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: calc(0.01 * var(--ratio-em-manipulation));
    align-items: center;
}

.languages_contentBx .card .textBx .H_n_C span {
    font-size: calc(0.031 * var(--ratio-em-manipulation));
}

.languages_contentBx .card .textBx .Type_C span {
    font-size: calc(0.039 * var(--ratio-em-manipulation));
}

.languages_contentBx .card .textBx .sci {
    position: relative;
    display: flex;
    gap: calc(0.7 * var(--ratio-px-manipulation));
    margin-top: var(--ratio-px-manipulation);
    font-size: calc(0.15 * var(--ratio-em-manipulation));
    color: var(--text-color);
    padding-left: calc(0.3 * var(--ratio-px-manipulation));
    padding-right: calc(0.3 * var(--ratio-px-manipulation));
    height: calc(6 * var(--ratio-px-manipulation));
    font-weight: 600;
    border-radius: calc(0.3 * var(--ratio-px-manipulation));
    align-items: center;
}

.languages_contentBx .card .textBx .sci li i {
    font-size: calc(1.5 * var(--ratio-px-manipulation));
    bottom: 0;
}

.languages_contentBx .card .textBx .sci li {
    list-style: none;
}

.languages_contentBx .card .textBx .sci li a {
    position: relative;
    max-width: calc(6 * var(--ratio-px-manipulation));
    max-height: calc(6 * var(--ratio-px-manipulation));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: calc(0.5 * var(--ratio-px-manipulation));
    transition: 0.5s;
}

.languages_content,
.languages_contentBx {
    pointer-events: none;
}

.textBx {
    text-align: center;
}

.languages_section {
    padding-top: 40px;
    padding-bottom: 100px;
}
