@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display-swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: rgba(0, 0, 0, 0.585);
    --black-color: rgba(0, 0, 0, 0.585);
    --second-bg-color: rgba(0, 0, 0, 0.585);
    --text-color: rgba(0, 0, 0, 0.585);
    --main-color: rgba(0, 0, 0, 0.585);
    --main-box-color: rgba(0, 0, 0, 0.585);
    --grey-color: rgba(0, 0, 0, 0.585);
    --projects-grey-color: rgba(0, 0, 0, 0.585);
    --transparent-bg-color: rgba(0, 0, 0, 0.585);
    --animation-color: rgba(0, 0, 0, 0.585);
    --lang-color: rgba(0, 0, 0, 0.585);
    --lang-color-yel: rgba(0, 0, 0, 0.585);
    --ratio-px-manipulation: 10px;
    --ratio-em-manipulation: 10em;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--black-color);
    color: var(--text-color);
    width: 100%;
}
