@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display-swap');

/*###########################################################################################*/
/*########                            SETUP SECTION                                 #########*/
/*###########################################################################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: hsl(0, 0%, 12%);
    --black-color: hsl(0, 0%, 0%);
    --second-bg-color: hsl(0, 0%, 4%);
    --transparent-bg-color: hsla(0, 0%, 0%, 0.211);
    --hov-transparent-bg-color: hsla(212, 29%, 38%, 0.386);

    --animation-color: hsla(197, 100%, 26%, 0.831);
    --text-color: hsla(0, 0%, 91%, 0.99);
    --main-color: hsl(197, 100%, 45%);
    --lang-color: hsla(329, 100%, 25%, 0.58);
    --lang-color-yel: hsla(70, 100%, 31%, 0.62);
    --grey-color: hsla(0, 0%, 60%, 0.89);
    --projects-grey-color: hsla(0, 0%, 47%, 0.297);

    --ratio-px-manipulation: 10px;
    --ratio-em-manipulation: 10em;
}

/* --main-color: hsl(197, 100%, 45%); */
/* :root {
    --bg-color: hsl(210, 3%, 13%);
    --second-bg-color: hsl(0, 0%, 4%);
    --transparent-bg-color: hsla(150, 2%, 49%, 0.12);
    --transparent-bg-color: hsla(190, 35%, 64%, 0.18);
    --text-color: hsla(0, 0%, 91%, 0.99);
    --main-color: hsl(174, 100%, 67%);
    --lang-color: hsla(270, 100%, 33%, 0.68);
    --lang-color-yel: hsla(56, 100%, 31%, 0.62);
    --projects-grey-color: hsl(0, 0%, 0%);
    --grey-color: hsla(0, 0%, 73%, 0.89);
    --projects-grey-color: hsla(0, 0%, 73%, 0.33);
    --black-color: hsl(0, 0%, 0%);
    --ratio-px-manipulation: 10px;
    --ratio-em-manipulation: 10em;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--black-color);
    color: var(--text-color);
    width: 100%;
}

/* Background Animation Cascading */

.backgroundAnimation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    overflow: hidden;
}

.colorBoxEffect{
    transition: 2s ease;
    position: relative;
    margin: 2px;
}

.colorBoxEffect:hover{
    background: var(--animation-color);
    transition-duration: 0s;
}

.divBackgroundAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--animation-color);
    filter: blur(90px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}

/* Header Cascading Starts Here */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: var(--bg-color);
    opacity: 0.96;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar { position: relative; }

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 3s;
}

.navbar a:hover, .navbar a.active { color: var(--main-color); }

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section { padding: 10rem 9% 2rem; }

/*###########################################################################################*/
/*########                             HOME SECTION                                 #########*/
/*###########################################################################################*/

.home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 0 9%;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-size: cover;
    z-index: -1;
}

.home-content {
    max-width: 60rem;
    position: relative;
    z-index: 2;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span { color: var(--text-color); }

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 2.17rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

/***************** KeyFrames Animations ******************/

@keyframes homeBgText {
    0%, 10%, 100% { background-position: -33rem 0; }
    65%, 85% { background-position: 0 0; }
}

@keyframes homeCursorText {
    0%, 10%, 100% { width: 0; }
    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }
    75%, 81% { opacity: 0; }
}

.home-content p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box .btn:hover { color: var(--main-color); }

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover { color: var(--bg-color); }

.btn-box .btn:nth-child(2)::before { background: var(--main-color); }

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before { width: 100%; }

.home-sci, #contact .home-sci {
    position: absolute;
    bottom: 4rem;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.home-sci a, #contact .home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 40%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover,  #contact .home-sci a:hover { color: var(--bg-color); }

.home-sci a::before,  #contact .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before,  #contact .home-sci a:hover::before  { width: 100%; }

.home-developer-img {
    position: absolute;
    justify-content: center;
    right: 0;
    width: 45%;
    height: 70%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.home-developer-img img {
    width: 85%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    align-content: left;
    transition: 3s;
    opacity: 0.85;
}

.home-developer-img img:hover {
    opacity: 0.35;
}

@media (max-width: 848px) {
    .introduction {
        max-width: 80%;
    }
}

@media (max-width: 750px) {
    .home-developer-img {
        display: none;
    }

    #home {
        padding-left: 0;
        justify-content: center;
    }

    .home-content {
        padding-left: 10%;
    }

    .introduction {
        max-width: 80%;
    }
}

/*###########################################################################################*/
/*########                            ABOUT SECTION                                 #########*/
/*###########################################################################################*/

.about {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span { color: var(--main-color); }

.about-img {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-top: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

/***************** KeyFrames Animations *****************/

@keyframes aboutSpinner { 100% { transform: translate(-50%, -50%) rotate(360deg); } }

.about-content { text-align: center; }

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before  { color: var(--second-bg-color); }

.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    position: relative;
}

.journey .journey-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.journey-row .journey-column { flex: 1 1 40rem; }

.journey-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.journey-column .journey-box {
    position: relative;
    border-left: 0.2rem solid var(--main-color);
}

.journey-box .journey-content {
    position: relative;
    padding-left: 2rem;
}

.journey-box .journey-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    background: url("./Images/AI_SVG.png") center no-repeat, var(--main-color);
    background-size: 40px, cover;
    border-radius: 50%;
}

.journey-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.journey-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 1;
    transition: 0.5s;
}

.journey-content .content:hover::before { width: 100%; }

.journey-content content .year {
    font-size: 1.8rem !important;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.journey-content .content .year i { padding-right: 0.5rem; }

.journey-content content h3 { font-size: 2rem; }

.journey-content content p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

#btn-readless {
    border: 0.3rem solid var(--bg-color);
    font-size: 2.3rem;
}

#btn-readless:hover { border: 0.3rem solid var(--grey-color); }

/*###########################################################################################*/
/*########                         PORTFOLIO SECTION                                #########*/
/*###########################################################################################*/

.Portfolio {
    min-height: 100%;
    padding-bottom: 3rem;
    /* position: relative; */
}

.Portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.26;
    background-size: cover;
    z-index: -1;
}

.Portfolio h2 {
    display: inline-block;
    left: 50% ;
    transform: translateX(-50%);
}

.Portfolio .Portfolio-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.Portfolio-row .Portfolio-column { flex: 1 1 40rem; }

.Portfolio-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.Portfolio-column .Portfolio-box { position: relative; }

.Portfolio-box .Portfolio-content {
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.Portfolio-box .Portfolio-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--hov-transparent-bg-color);
    z-index: -1;
    transition: .5s;
}

.Portfolio-box .Portfolio-content:hover::before { width: 100%; }

.Portfolio-content .progress { padding: 1rem 0; }

.Portfolio-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.Portfolio-content .progress h3 span {
    color: var(--text-color);
}

.Portfolio-content progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
}

#projects {
    position: relative;
    display: inline-block;
    font-size: 4.7rem;
    margin-top: 10rem;
    color: var(--text-color);
}

#projects span { color: var(--main-color); }

/* Listing Projects! */

.section_projects {
    color: var(--text-color);
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 50px;
    margin: 90px auto;
    margin-bottom: 10px;
    max-width: 1240px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--projects-grey-color);
    transition: box-shadow 0.7s linear;
}

.section_projects:hover { box-shadow: 0 0 16px var(--main-color); }

.section_project {
    padding: 20px;
    border-radius: 9px;
    border: 2px solid var(--grey-color);
    background-color: var(--second-bg-color);
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.7s linear;
}

.section_project:hover {
    box-shadow: 0 0 15px var(--main-color);
    border: 2px solid var(--main-color);
}

.section_project2 {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 60px;
}

.section_project img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 3px;
}

.section_project .project_tittle {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-weight: 700;
    font-family: 'Open+Sans' +bold;
	text-transform: uppercase;
    font-size: large;
}

.section_project p {
    font-family: "Montserrat", sans-serif;
	padding: 6px;
	line-height: 22px;
    text-align: center;
    font-size: medium;
}

.section_project .view_project_on_github {
    margin-top: 10px;
    font-size: 1.5em;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 9px 10px;
    height: 40px;
    font-weight: 600;
    border-radius: 9px;
    align-items: center;
    border: 2px solid var(--grey-color);
    transition: background-color 0.9s linear, color 0.9s linear, border 0.9s linear;
}

.section_project .view_project_on_github:hover {
    background-color: var(--grey-color);
    color: var(--bg-color);
    border: 2px solid var(--hov-transparent-bg-color);
}

.view_project_on_github {
    margin-top: 25px;
}

#Custom_Button, #Custom_Button_2 {
    /* justify-content: ; */
    font-size: 250%;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid var(--transparent-bg-color);
}

#Custom_Button_0 {
    border: 2px solid var(--transparent-bg-color);
}

.profile-github {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

strong {
    font-weight: 600;
}

/*###########################################################################################*/
/*########                          CONTACT SECTION                                 #########*/
/*###########################################################################################*/

.contact {
    min-height: 100vh;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.contact::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-size: cover;
    z-index: 1;
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input, .contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder, .contact form .textarea-field textarea::placeholder { color: var(--text-color); }

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus, .contact form .input-box .input-field input:valid~.focus, .contact form .textarea-field textarea:focus~.focus, .contact form .textarea-field textarea:valid~.focus { width: 100%; }

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea { resize: none; }

.contact form .btn-box.btns .btn { cursor: pointer; }

/*###########################################################################################*/
/*########                           FOOTER SECTION                                 #########*/
/*###########################################################################################*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem 9%;
    background: var(--transparent-bg-color);
}

.footer-text, .footer-iconTop {
    position: relative;
}

.footer-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before { width: 100%; }

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i { color: var(--main-color); }

#mailto { color: var(--main-color); }

/*###########################################################################################*/
/*########                       ANIMATIONS SECTION                                 #########*/
/*###########################################################################################*/

/* Reload and Scroll Animation */

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent-bg-color);
    z-index: 98;
}

.logo .animate , .navbar .animate, #menu-icon .animate, .home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease ;
    transition-delay: calc(0.3s / var(--i));
    animation: none;
}

section:nth-child(even) .animate.scroll, .footer .animate.scroll { background: var(--transparent-bg-color); }

.journey .journey-box .animate.scroll { width: 105% ; }

.about.show-animate .animate.scroll, .journey.show-animate .animate.scroll, .contact.show-animate .animate.scroll, .footer.show-animate .animate.scroll, .Portfolio.show-animate .animate.scroll {
    transition-delay: calc(0.3s * var(--i));
    width: 0;
}

/***************** KeyFrames Animations *****************/

@keyframes showRight {
    100% { width: 0; }
}
/* Breakpoints */
@media (max-width: 1200px) {
    html { font-size: 55%; }
}

@media (max-width: 991px) {
    .header { padding: 2rem 4%; }
}

@media (max-width: 991px) {
    .header { padding: 2rem 4%; }
    section { padding: 10rem 4% 2rem; }
    .home { padding: 0 4%; }
    .footer { padding: 2rem 4%; }
}

@media (max-width: 768px) {
    .header { background: var(--bg-color); }
    #menu-icon { display: block; }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.25s ease;
        transition-delay: 0.25s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25 ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
    }
    .navbar.active a {
        transform: translateX(0);
        transition: 0.25s ease;
        transition-delay: 0s;
    }
}

@media (max-width: 520px){
    html { font-size: 50%; }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci, #contact .home-sci { width: 160px; }
    .home-sci a, #contact .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 { font-size: 5.2rem; }
    .journey { padding: 10rem 4% 5rem 5%; }
    .contact form .input-box .input-field { width: 100%; }
    .footer { flex-direction: column-reverse; }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .home-sci, #contact .home-sci {
        bottom: 4rem;
        width: 120px;
    }
    .home-sci a, #contact .home-sci a{
        width: 22px;
        height: 22px;
        font-size: 17px;
    }
}

@media (max-width: 371px) {
    .home { justify-content: center; }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/**** The Languages Animation CSS ****/

.languages_section {
    margin: calc(5 * var(--ratio-px-manipulation));
    margin-bottom: calc(8 * var(--ratio-px-manipulation));
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_section::before {
    content: '';
    position: absolute;
}

.languages_container {
    position: relative;
    width: calc(60 * var(--ratio-px-manipulation));
    height: calc(60 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid var(--grey-color);
    border-radius: 50%;
}

.languages_container .languages_icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.languages_container .languages_icon .imgBx {
    position: absolute;
    width: calc(8 * var(--ratio-px-manipulation));
    height: calc(8 * var(--ratio-px-manipulation));
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 0 calc(0.4 * var(--ratio-px-manipulation)) var(--bg-color) ,
                0 0 0 calc(0.6 * var(--ratio-px-manipulation)) var(--text-color);
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: calc(34 * var(--ratio-px-manipulation));
    z-index: 1;
    overflow: hidden;
}

.languages_container .languages_icon .imgBx.active {
    box-shadow: 0 0 0 calc(0.6 * var(--ratio-px-manipulation)) var(--bg-color),
                0 0 0 calc(1.2 * var(--ratio-px-manipulation)) var(--main-color);
}

.languages_container .languages_icon .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(0.9);
}

.languages_container .languages_icon .imgBx.active img { filter: grayscale(0); }

.languages_content {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_content::before {
    content: '';
    position: absolute;
    inset: calc(6 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid transparent;
    border-left: calc(0.5 * var(--ratio-px-manipulation)) solid var(--main-color);
    border-right: calc(0.5 * var(--ratio-px-manipulation)) solid var(--text-color);
    border-radius: 50%;
    animation: animte_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_01 {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

.languages_content::after {
    content: '';
    position: absolute;
    inset: calc(8.3 * var(--ratio-px-manipulation));
    border: calc(0.4 * var(--ratio-px-manipulation)) solid transparent;
    border-left: calc(0.5 * var(--ratio-px-manipulation)) solid var(--lang-color);
    border-right: calc(0.5 * var(--ratio-px-manipulation)) solid var(--lang-color-yel);
    border-radius: 50%;
    animation: animte_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_02 {
    0% { rotate: 360deg; }
    100% { rotate: 0deg; }
}

.languages_contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages_contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.languages_contentBx .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(1.5 * var(--ratio-px-manipulation));
}

.languages_contentBx .card .imgBx {
    position: relative;
    width: calc(21 * var(--ratio-px-manipulation));
    height: calc(21 * var(--ratio-px-manipulation));
    border-radius: var(--ratio-px-manipulation);
    overflow: hidden;
}

.languages_contentBx .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.languages_contentBx .card .textBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languages_contentBx .card .textBx h2 {
    position: relative;
    font-size: calc(0.3 * var(--ratio-em-manipulation));
    font-weight: 600;
    color: var(--text-color);
    line-height: calc(0.1 * var(--ratio-em-manipulation));
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}

.languages_contentBx .card .textBx h2 span {
    font-size: calc(0.065 * var(--ratio-em-manipulation));
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: calc(0.01 * var(--ratio-em-manipulation));
    align-items: center;
}

.languages_contentBx .card .textBx .H_n_C span { font-size: calc(0.031 * var(--ratio-em-manipulation)); }

.languages_contentBx .card .textBx .Type_C span { font-size: calc(0.039 * var(--ratio-em-manipulation)); }

.languages_contentBx .card .textBx .sci {
    position: relative;
    display: flex;
    gap: calc(0.7 * var(--ratio-px-manipulation));
    margin-top: var(--ratio-px-manipulation);
    font-size: calc(0.15 * var(--ratio-em-manipulation));
    color: var(--text-color);
    padding-left: calc(0.3 * var(--ratio-px-manipulation));
    padding-right: calc(0.3 * var(--ratio-px-manipulation));
    height: calc(6 * var(--ratio-px-manipulation));
    font-weight: 600;
    border-radius: calc(0.3 * var(--ratio-px-manipulation));
    align-items: center;
}

.languages_contentBx .card .textBx .sci li i {
    font-size: calc(1.5 * var(--ratio-px-manipulation));
    bottom: 0;
}

.languages_contentBx .card .textBx .sci li { list-style: none; }

.languages_contentBx .card .textBx .sci li a {
    position: relative;
    max-width: calc(6 * var(--ratio-px-manipulation));
    max-height: calc(6 * var(--ratio-px-manipulation));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: calc(0.5 * var(--ratio-px-manipulation));
    transition: 0.5s;
}

.languages_content, .languages_contentBx { pointer-events: none; }

.textBx {
    text-align: center;
}
